<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.bbs.repo.mapper.BbsCollectionLogMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.bbs.module.entity.BbsCollectionLog">
    <!--@mbg.generated-->
    <!--@Table bbs_collection_log-->
    <id column="collection_log_id" jdbcType="BIGINT" property="collectionLogId" />
    <result column="invitation_id" jdbcType="BIGINT" property="invitationId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    collection_log_id, invitation_id, create_time, create_user_id, deleted, version
  </sql>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update bbs_collection_log
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="invitation_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.invitationId != null">
            when collection_log_id = #{item.collectionLogId,jdbcType=BIGINT} then #{item.invitationId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when collection_log_id = #{item.collectionLogId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createUserId != null">
            when collection_log_id = #{item.collectionLogId,jdbcType=BIGINT} then #{item.createUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deleted != null">
            when collection_log_id = #{item.collectionLogId,jdbcType=BIGINT} then #{item.deleted,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.version != null">
            when collection_log_id = #{item.collectionLogId,jdbcType=BIGINT} then #{item.version,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where collection_log_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.collectionLogId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="collection_log_id" keyProperty="collectionLogId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bbs_collection_log
    (invitation_id, create_time, create_user_id, deleted, version)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.invitationId,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUserId,jdbcType=BIGINT}, 
        #{item.deleted,jdbcType=TINYINT}, #{item.version,jdbcType=BIGINT})
    </foreach>
  </insert>
</mapper>