<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.bbs.repo.mapper.CategoryVoteApplyLogMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.bbs.module.entity.CategoryVoteApplyLog">
    <!--@mbg.generated-->
    <!--@Table bbs_category_vote_apply_log-->
    <id column="vote_apply_log_id" jdbcType="BIGINT" property="voteApplyLogId" />
    <result column="apply_id" jdbcType="BIGINT" property="applyId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    vote_apply_log_id, apply_id, create_time, create_user_id
  </sql>
</mapper>