<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.bbs.repo.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.bbs.module.entity.Message">
    <!--@mbg.generated-->
    <!--@Table bbs_message-->
    <id column="message_id" jdbcType="BIGINT" property="messageId" />
    <result column="tpis_type" jdbcType="TINYINT" property="tpisType" />
    <result column="message_event_id" jdbcType="BIGINT" property="messageEventId" />
    <result column="sender_user_id" jdbcType="BIGINT" property="senderUserId" />
    <result column="receiver_user_id" jdbcType="BIGINT" property="receiverUserId" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="tips_status" jdbcType="TINYINT" property="tipsStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    message_id, tpis_type, message_event_id, sender_user_id, receiver_user_id, brief, 
    content, tips_status, create_time, deleted
  </sql>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update bbs_message
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="tpis_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tpisType != null">
            when message_id = #{item.messageId,jdbcType=BIGINT} then #{item.tpisType,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="message_event_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.messageEventId != null">
            when message_id = #{item.messageId,jdbcType=BIGINT} then #{item.messageEventId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="sender_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.senderUserId != null">
            when message_id = #{item.messageId,jdbcType=BIGINT} then #{item.senderUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="receiver_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.receiverUserId != null">
            when message_id = #{item.messageId,jdbcType=BIGINT} then #{item.receiverUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="brief = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.brief != null">
            when message_id = #{item.messageId,jdbcType=BIGINT} then #{item.brief,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.content != null">
            when message_id = #{item.messageId,jdbcType=BIGINT} then #{item.content,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="tips_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tipsStatus != null">
            when message_id = #{item.messageId,jdbcType=BIGINT} then #{item.tipsStatus,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when message_id = #{item.messageId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deleted != null">
            when message_id = #{item.messageId,jdbcType=BIGINT} then #{item.deleted,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where message_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.messageId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="message_id" keyProperty="messageId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bbs_message
    (tpis_type, message_event_id, sender_user_id, receiver_user_id, brief, content, tips_status, 
      create_time, deleted)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.tpisType,jdbcType=TINYINT}, #{item.messageEventId,jdbcType=BIGINT}, #{item.senderUserId,jdbcType=BIGINT}, 
        #{item.receiverUserId,jdbcType=BIGINT}, #{item.brief,jdbcType=VARCHAR}, #{item.content,jdbcType=VARCHAR}, 
        #{item.tipsStatus,jdbcType=TINYINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.deleted,jdbcType=TINYINT}
        )
    </foreach>
  </insert>
</mapper>