<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.bbs.repo.mapper.PostNewMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.bbs.module.entity.UserDynamic">
    <!--@mbg.generated-->
    <!--@Table bbs_post_new-->
    <id column="post_new_id" jdbcType="BIGINT" property="postNewId" />
    <result column="topic_id" jdbcType="BIGINT" property="topicId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    post_new_id, topic_id, content, create_time, deleted
  </sql>
</mapper>