<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.bbs.repo.mapper.ScoreLogMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.bbs.module.entity.ScoreLog">
    <!--@mbg.generated-->
    <!--@Table bbs_score_log-->
    <id column="score_log_id" jdbcType="BIGINT" property="scoreLogId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="score_count" jdbcType="INTEGER" property="scoreCount" />
    <result column="event_id" jdbcType="BIGINT" property="eventId" />
    <result column="return_msg" jdbcType="VARCHAR" property="returnMsg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    score_log_id, role_id, score_count, event_id, return_msg, create_time, create_user_id
  </sql>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update bbs_score_log
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="role_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.roleId != null">
            when score_log_id = #{item.scoreLogId,jdbcType=BIGINT} then #{item.roleId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="score_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.scoreCount != null">
            when score_log_id = #{item.scoreLogId,jdbcType=BIGINT} then #{item.scoreCount,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="event_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.eventId != null">
            when score_log_id = #{item.scoreLogId,jdbcType=BIGINT} then #{item.eventId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="return_msg = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.returnMsg != null">
            when score_log_id = #{item.scoreLogId,jdbcType=BIGINT} then #{item.returnMsg,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when score_log_id = #{item.scoreLogId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createUserId != null">
            when score_log_id = #{item.scoreLogId,jdbcType=BIGINT} then #{item.createUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where score_log_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.scoreLogId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="score_log_id" keyProperty="scoreLogId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bbs_score_log
    (role_id, score_count, event_id, return_msg, create_time, create_user_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.roleId,jdbcType=BIGINT}, #{item.scoreCount,jdbcType=INTEGER}, #{item.eventId,jdbcType=BIGINT}, 
        #{item.returnMsg,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUserId,jdbcType=BIGINT}
        )
    </foreach>
  </insert>
</mapper>