<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.bbs.repo.mapper.TopicMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.bbs.module.entity.Topic">
    <!--@mbg.generated-->
    <!--@Table bbs_topic-->
    <id column="topic_id" jdbcType="BIGINT" property="topicId" />
    <result column="topic_title" jdbcType="VARCHAR" property="topicTitle" />
    <result column="topic_content" jdbcType="VARCHAR" property="topicContent" />
    <result column="topic_status" jdbcType="TINYINT" property="topicStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    topic_id, topic_title, topic_content, topic_status, create_time, create_user_id
  </sql>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update bbs_topic
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="topic_title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.topicTitle != null">
            when topic_id = #{item.topicId,jdbcType=BIGINT} then #{item.topicTitle,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="topic_content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.topicContent != null">
            when topic_id = #{item.topicId,jdbcType=BIGINT} then #{item.topicContent,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="topic_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.topicStatus != null">
            when topic_id = #{item.topicId,jdbcType=BIGINT} then #{item.topicStatus,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when topic_id = #{item.topicId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createUserId != null">
            when topic_id = #{item.topicId,jdbcType=BIGINT} then #{item.createUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where topic_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.topicId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="topic_id" keyProperty="topicId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bbs_topic
    (topic_title, topic_content, topic_status, create_time, create_user_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.topicTitle,jdbcType=VARCHAR}, #{item.topicContent,jdbcType=VARCHAR}, #{item.topicStatus,jdbcType=TINYINT}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUserId,jdbcType=BIGINT})
    </foreach>
  </insert>

  <select id="selectOrderByHot" resultMap="BaseResultMap">
    select a.*
    from bbs_topic a,bbs_topic_comment_count b
    where a.topic_id = b.topic_id
    <if test="topicTitle!=null and topicTitle!=''">
      and topic_title like concat('%',#{topicTitle},'%')
    </if>
    order by b.comment_count desc


  </select>
</mapper>