<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.bbs.repo.mapper.TopicCommentThumbsLogMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.bbs.module.entity.TopicCommentThumbsLog">
    <!--@mbg.generated-->
    <!--@Table bbs_topic_comment_thumbs_log-->
    <id column="tc_thumbs_log_id" jdbcType="BIGINT" property="tcThumbsLogId" />
    <result column="topic_comment_id" jdbcType="BIGINT" property="topicCommentId" />
    <result column="thumbs_type" jdbcType="TINYINT" property="thumbsType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    tc_thumbs_log_id, topic_comment_id, thumbs_type, create_time, create_user_id, deleted, 
    version
  </sql>
</mapper>