<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.bbs.repo.mapper.UserBlackListMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.bbs.module.entity.UserBlackList">
    <!--@mbg.generated-->
    <!--@Table bbs_user_black_list-->
    <id column="black_list_id" jdbcType="BIGINT" property="blackListId" />
    <result column="black_user_id" jdbcType="BIGINT" property="blackUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    black_list_id, black_user_id, create_time, create_user_id
  </sql>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update bbs_user_black_list
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="black_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.blackUserId != null">
            when black_list_id = #{item.blackListId,jdbcType=BIGINT} then #{item.blackUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when black_list_id = #{item.blackListId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createUserId != null">
            when black_list_id = #{item.blackListId,jdbcType=BIGINT} then #{item.createUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where black_list_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.blackListId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="black_list_id" keyProperty="blackListId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bbs_user_black_list
    (black_user_id, create_time, create_user_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.blackUserId,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUserId,jdbcType=BIGINT}
        )
    </foreach>
  </insert>
</mapper>