<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.bbs.repo.mapper.UserCategoryVoteSettingMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.bbs.module.entity.UserCategoryVoteSetting">
    <!--@mbg.generated-->
    <!--@Table bbs_user_category_vote_setting-->
    <id column="vote_setting_id" jdbcType="BIGINT" property="voteSettingId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="application_count" jdbcType="BIGINT" property="applicationCount" />
    <result column="already_count" jdbcType="BIGINT" property="alreadyCount" />
    <result column="apply_start_time" jdbcType="TIMESTAMP" property="applyStartTime" />
    <result column="apply_end_time" jdbcType="TIMESTAMP" property="applyEndTime" />
    <result column="vote_start_time" jdbcType="TIMESTAMP" property="voteStartTime" />
    <result column="vote_end_time" jdbcType="TIMESTAMP" property="voteEndTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    vote_setting_id, category_id, application_count, already_count, apply_start_time, apply_end_time,
    vote_start_time, vote_end_time, deleted
  </sql>

  <select id="findVoteStartSetting" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from bbs_user_category_vote_setting
    where deleted = 0
    and vote_start_time &gt;= now()
    and vote_end_time &lt;= now()
    and category_id = #{categoryId}
  </select>

  <select id="findApplyStartSetting" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from bbs_user_category_vote_setting
    where deleted = 0
    and apply_start_time &gt;= now()
    and apply_end_time &lt;= now()
    and category_id = #{categoryId}
  </select>

  <update id="updateApplyCount">
    update bbs_user_category_vote_setting set already_count = already_count+1
    where deleted = 0 and category_id =#{voteSettingId}
  </update>
</mapper>