<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.bbs.repo.mapper.UserScoreMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.bbs.module.entity.UserScore">
    <!--@mbg.generated-->
    <!--@Table bbs_user_score-->
    <id column="score_id" jdbcType="BIGINT" property="scoreId" />
    <result column="sum_score" jdbcType="BIGINT" property="sumScore" />
    <result column="current_score" jdbcType="BIGINT" property="currentScore" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    score_id, sum_score, current_score, user_id, create_time, create_user_id, update_time, 
    update_user_id
  </sql>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update bbs_user_score
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="sum_score = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.sumScore != null">
            when score_id = #{item.scoreId,jdbcType=BIGINT} then #{item.sumScore,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="current_score = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.currentScore != null">
            when score_id = #{item.scoreId,jdbcType=BIGINT} then #{item.currentScore,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.userId != null">
            when score_id = #{item.scoreId,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when score_id = #{item.scoreId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createUserId != null">
            when score_id = #{item.scoreId,jdbcType=BIGINT} then #{item.createUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when score_id = #{item.scoreId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateUserId != null">
            when score_id = #{item.scoreId,jdbcType=BIGINT} then #{item.updateUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where score_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.scoreId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="score_id" keyProperty="scoreId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bbs_user_score
    (sum_score, current_score, user_id, create_time, create_user_id, update_time, update_user_id
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.sumScore,jdbcType=BIGINT}, #{item.currentScore,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUserId,jdbcType=BIGINT}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.updateUserId,jdbcType=BIGINT})
    </foreach>
  </insert>
</mapper>