<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.bbs.repo.mapper.VoteTicketCountMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.bbs.module.entity.VoteTicketCount">
    <!--@mbg.generated-->
    <!--@Table bbs_vote_ticket_count-->
    <id column="ticket_count_id" jdbcType="BIGINT" property="ticketCountId" />
    <result column="apply_id" jdbcType="BIGINT" property="applyId" />
    <result column="ticket_count" jdbcType="BIGINT" property="ticketCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ticket_count_id, apply_id, ticket_count, create_time, deleted
  </sql>

  <update id="addVoteTicket">
    update bbs_vote_ticket_count set ticket_count = ticket_count+1
    where apply_id = #{userId} and deleted = 0
    </update>
</mapper>