<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.rbac.repo.mapper.RbacRoleBindResourceMapper">

<select id="findResourceIds" resultType="java.lang.Long">
    select role_id from rbac_role_bind_resource where role_id in
    <foreach collection="roleIds" close=")" open="(" separator="," item="id">
        #{id}
    </foreach>
</select>
</mapper>
