<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.blob.repo.mapper.BlogCommentMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.blob.module.entity.BlogComment">
    <!--@mbg.generated-->
    <!--@Table blog_comment-->
    <id column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
    <result column="ip_belonging" jdbcType="VARCHAR" property="ipBelonging" />
    <result column="thumbs_cont" jdbcType="BIGINT" property="thumbsCont" />
    <result column="placed_top_status" jdbcType="TINYINT" property="placedTopStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    comment_id, article_id, comment_content, ip_belonging, thumbs_cont, placed_top_status, 
    create_time, create_user_id, update_time, update_user_id, deleted, version
  </sql>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update blog_comment
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="article_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.articleId != null">
            when comment_id = #{item.commentId,jdbcType=BIGINT} then #{item.articleId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="comment_content = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.commentContent != null">
            when comment_id = #{item.commentId,jdbcType=BIGINT} then #{item.commentContent,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="ip_belonging = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.ipBelonging != null">
            when comment_id = #{item.commentId,jdbcType=BIGINT} then #{item.ipBelonging,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="thumbs_cont = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.thumbsCont != null">
            when comment_id = #{item.commentId,jdbcType=BIGINT} then #{item.thumbsCont,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="placed_top_status = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.placedTopStatus != null">
            when comment_id = #{item.commentId,jdbcType=BIGINT} then #{item.placedTopStatus,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when comment_id = #{item.commentId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createUserId != null">
            when comment_id = #{item.commentId,jdbcType=BIGINT} then #{item.createUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when comment_id = #{item.commentId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateUserId != null">
            when comment_id = #{item.commentId,jdbcType=BIGINT} then #{item.updateUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deleted != null">
            when comment_id = #{item.commentId,jdbcType=BIGINT} then #{item.deleted,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.version != null">
            when comment_id = #{item.commentId,jdbcType=BIGINT} then #{item.version,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where comment_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.commentId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="comment_id" keyProperty="commentId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into blog_comment
    (article_id, comment_content, ip_belonging, thumbs_cont, placed_top_status, create_time, 
      create_user_id, update_time, update_user_id, deleted, version)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.articleId,jdbcType=BIGINT}, #{item.commentContent,jdbcType=VARCHAR}, #{item.ipBelonging,jdbcType=VARCHAR}, 
        #{item.thumbsCont,jdbcType=BIGINT}, #{item.placedTopStatus,jdbcType=TINYINT}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.createUserId,jdbcType=BIGINT}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.updateUserId,jdbcType=BIGINT}, 
        #{item.deleted,jdbcType=TINYINT}, #{item.version,jdbcType=BIGINT})
    </foreach>
  </insert>
</mapper>