<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kop.blob.repo.mapper.BlogFocusMapper">
  <resultMap id="BaseResultMap" type="com.github.kop.blob.module.entity.BlogFocus">
    <!--@mbg.generated-->
    <!--@Table blog_focus-->
    <id column="focus_id" jdbcType="BIGINT" property="focusId" />
    <result column="id_to_type" jdbcType="BIGINT" property="idToType" />
    <result column="focus_type" jdbcType="TINYINT" property="focusType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    focus_id, id_to_type, focus_type, create_time, create_user_id, update_time, update_user_id, 
    deleted, version
  </sql>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update blog_focus
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="id_to_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.idToType != null">
            when focus_id = #{item.focusId,jdbcType=BIGINT} then #{item.idToType,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="focus_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.focusType != null">
            when focus_id = #{item.focusId,jdbcType=BIGINT} then #{item.focusType,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when focus_id = #{item.focusId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createUserId != null">
            when focus_id = #{item.focusId,jdbcType=BIGINT} then #{item.createUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when focus_id = #{item.focusId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateUserId != null">
            when focus_id = #{item.focusId,jdbcType=BIGINT} then #{item.updateUserId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deleted != null">
            when focus_id = #{item.focusId,jdbcType=BIGINT} then #{item.deleted,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.version != null">
            when focus_id = #{item.focusId,jdbcType=BIGINT} then #{item.version,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
    </trim>
    where focus_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.focusId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="focus_id" keyProperty="focusId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into blog_focus
    (id_to_type, focus_type, create_time, create_user_id, update_time, update_user_id, 
      deleted, version)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.idToType,jdbcType=BIGINT}, #{item.focusType,jdbcType=TINYINT}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.createUserId,jdbcType=BIGINT}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.updateUserId,jdbcType=BIGINT}, 
        #{item.deleted,jdbcType=TINYINT}, #{item.version,jdbcType=BIGINT})
    </foreach>
  </insert>
</mapper>